language: node_js
node_js:
  - "8"
env:
  global:
    - NODE_ENV=development
before_install:
  - cd ../../ && git clone https://github.com/MichMich/MagicMirror
  - mv ianperrin/MMM-Strava MagicMirror/modules
  - cd MagicMirror && npm install express
  - cd modules/MMM-Strava
before_script:
  - npm install grunt-cli -g