/***************************
 * MMM-Strava Module
 ***************************/
.MMM-Strava .symbol {
  padding-left: 10px;
  padding-right: 0;
}

.MMM-Strava .stat {
  padding-left: 20px;
  padding-right: 0;
}

.MMM-Strava .strava-icon.icon-ride {
  background-image: url(/MMM-Strava/assets/images/icon-ride.svg);
}

.MMM-Strava .strava-icon.icon-virtualride {
  background-image: url(/MMM-Strava/assets/images/icon-virtualride.svg);
}

.MMM-Strava .strava-icon.icon-ebikeride {
  background-image: url(/MMM-Strava/assets/images/icon-ebikeride.svg);
}

.MMM-Strava .strava-icon.icon-elliptical {
  background-image: url(/MMM-Strava/assets/images/icon-elliptical.svg);
}

.MMM-Strava .strava-icon.icon-run {
  background-image: url(/MMM-Strava/assets/images/icon-run.svg);
}

.MMM-Strava .strava-icon.icon-stairstepper {
  background-image: url(/MMM-Strava/assets/images/icon-stairstepper.svg);
}

.MMM-Strava .strava-icon.icon-virtualrun {
  background-image: url(/MMM-Strava/assets/images/icon-virtualrun.svg);
}

.MMM-Strava .strava-icon.icon-hike {
  background-image: url(/MMM-Strava/assets/images/icon-hike.svg);
}

.MMM-Strava .strava-icon.icon-walk {
  background-image: url(/MMM-Strava/assets/images/icon-walk.svg);
}

.MMM-Strava .strava-icon.icon-swim {
  background-image: url(/MMM-Strava/assets/images/icon-swim.svg);
}

.MMM-Strava .strava-icon.icon-kitesurf {
  background-image: url(/MMM-Strava/assets/images/icon-kitesurf.svg);
}

.MMM-Strava .strava-icon.icon-windsurf {
  background-image: url(/MMM-Strava/assets/images/icon-windsurf.svg);
}

.MMM-Strava .strava-icon.icon-canoeing {
  background-image: url(/MMM-Strava/assets/images/icon-canoeing.svg);
}

.MMM-Strava .strava-icon.icon-kayaking {
  background-image: url(/MMM-Strava/assets/images/icon-kayaking.svg);
}

.MMM-Strava .strava-icon.icon-alpineski {
  background-image: url(/MMM-Strava/assets/images/icon-alpineski.svg);
}

.MMM-Strava .strava-icon.icon-backcountryski {
  background-image: url(/MMM-Strava/assets/images/icon-backcountryski.svg);
}

.MMM-Strava .strava-icon.icon-nordicski {
  background-image: url(/MMM-Strava/assets/images/icon-nordicski.svg);
}

MMM-Strava .strava-icon.icon-rollerski {
  background-image: url(/MMM-Strava/assets/images/icon-rollerski.svg);
}

.MMM-Strava .strava-icon.icon-snowboard {
  background-image: url(/MMM-Strava/assets/images/icon-snowboard.svg);
}

.MMM-Strava .strava-icon.icon-snowshoe {
  background-image: url(/MMM-Strava/assets/images/icon-snowshoe.svg);
}

.MMM-Strava .strava-icon.icon-iceskate {
  background-image: url(/MMM-Strava/assets/images/icon-iceskate.svg);
}

.MMM-Strava .strava-icon.icon-inlineskate {
  background-image: url(/MMM-Strava/assets/images/icon-inlineskate.svg);
}

.MMM-Strava .strava-icon.icon-handcycle {
  background-image: url(/MMM-Strava/assets/images/icon-handcycle.svg);
}

.MMM-Strava .strava-icon.icon-wheelchair {
  background-image: url(/MMM-Strava/assets/images/icon-wheelchair.svg);
}

.MMM-Strava .strava-icon.icon-workout {
  background-image: url(/MMM-Strava/assets/images/icon-workout.svg);
}

.MMM-Strava .strava-icon.icon-rockclimbing {
  background-image: url(/MMM-Strava/assets/images/icon-rockclimbing.svg);
}

.MMM-Strava .strava-icon.icon-rowing {
  background-image: url(/MMM-Strava/assets/images/icon-rowing.svg);
}

.MMM-Strava .strava-icon.icon-standuppaddling {
  background-image: url(/MMM-Strava/assets/images/icon-standuppaddling.svg);
}

.MMM-Strava .strava-icon.icon-surfing {
  background-image: url(/MMM-Strava/assets/images/icon-surfing.svg);
}

.MMM-Strava .strava-icon.icon-velomobile {
  background-image: url(/MMM-Strava/assets/images/icon-velomobile.svg);
}

.MMM-Strava .strava-icon.icon-yoga {
  background-image: url(/MMM-Strava/assets/images/icon-yoga.svg);
}

.MMM-Strava .strava-icon.icon-crossfit {
  background-image: url(/MMM-Strava/assets/images/icon-crossfit.svg);
}

.MMM-Strava .strava-icon.icon-weighttraining {
  background-image: url(/MMM-Strava/assets/images/icon-weighttraining.svg);
}

.MMM-Strava .strava-icon.icon-lg {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: right;
}

.MMM-Strava .strava-icon {
  height: 24px;
  width: 24px;
  background-size: cover;
  vertical-align: middle;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999em;
}

/* Chart */

.MMM-Strava .chart {
  position: relative;
  margin-top: 20px;
  clear: both;
}

.MMM-Strava .chart:first-child {
  margin-top: 0;
}

.MMM-Strava .primary-stats {
  float: left;
  width: 125px;
}

.MMM-Strava .inline-stats {
  clear: both;
}

.MMM-Strava .primary-stats .inline-stats {
  margin-top: 2px;
}

.MMM-Strava .inline-stats::after {
  content: "";
  display: table;
  clear: both;
}

.MMM-Strava .inline-stats li {
  list-style: none;
  vertical-align: top;
}

.MMM-Strava svg {
  /* float: right; */
  vertical-align: middle;
  margin-left: 15px;
}

.MMM-Strava svg .label {
  font-size: 11px;
}

.MMM-Strava svg .past {
  fill: #ccc;
}

.MMM-Strava svg .current {
  fill: #666;
}

.MMM-Strava svg .future {
  fill: #e5e5e5;
}

.MMM-Strava svg rect.bar {
  shape-rendering: crispEdges;
}

/***************************
 * MMM-Strava-Authorisation
 ***************************/
div.module.MMM-Strava-Authorisation {
  display: none;
  text-align: center;
}

.MMM-Strava-Authorisation a:link,
.MMM-Strava-Authorisation a:visited,
.MMM-Strava-Authorisation a:active {
  color: #666;
}

.MMM-Strava-Authorisation a:hover {
  color: #fff;
  opacity: 0.8;
}

.MMM-Strava-Authorisation fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.MMM-Strava-Authorisation fieldset legend,
.MMM-Strava-Authorisation input[type="radio"] + label {
  padding: 5px;
}

.MMM-Strava-Authorisation input[type="radio"] + label {
  opacity: 0.6;
}

.MMM-Strava-Authorisation input[type="radio"] + label:hover {
  cursor: pointer;
  opacity: 0.8;
}

.MMM-Strava-Authorisation input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.MMM-Strava-Authorisation input[type="radio"]:checked + label {
  background-color: #666;
  color: #fff;
  opacity: 0.6;
}

.MMM-Strava-Authorisation button {
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  opacity: 0.8;
}

.MMM-Strava-Authorisation button:hover {
  opacity: 0.6;
}
