{% if loading %}
    <div class="small dimmed light">
        {{ 'LOADING' | translate | safe }}
    </div>
{% elif error %}
    <div class="small dimmed light">
        {{ error | safe }}
    </div>
{% else %}
    <div class="small">
{% for activity in config.activities %}
{% set total_distance = activities[activity].total_distance %}
        <div class="chart" id="{{activity | lower }}">
            <div class="primary-stats">
                <span class="actual small bright">{{ total_distance | formatDistance(1, true) }}</span>
                <ul class="inline-stats">
                    <li class="xsmall light">{{ activities[activity].total_moving_time | formatTime }}</li>
                    {%  if activity !== 'swim' %}
                    <li class="xsmall light">{{ activities[activity].total_elevation_gain | formatElevation(1, true) }}</li>
                    {% endif %}
                </ul>
            </div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="{{ 12.5 * (activities[activity].intervals | length) }}" height="68" class="chartSVG">
                <g class="activity-chart" transform="translate(3.3, 0)">
                {% for interval in activities[activity].intervals %}
                {% set bar_height = (interval/activities[activity].max_interval_distance * 45) if (interval > 0) else 2 %}
                    <g class="bar-container" transform="translate({{ loop.index0 * 12.5 }}, 0)">
                        <rect class="bar {{ loop.index0 | getIntervalClass }}" y="{{ 50 - bar_height }}" width="6.6" height="{{ bar_height }}"></rect>
                    </g>
                    <g class="label-container" transform="translate({{ loop.index0 * 12.5 }}, 63)">
                        <text class="label {{ loop.index0 | getIntervalClass }}" x="0" y="0">{{ loop.index0 | getLabel }}</text>
                    </g>
                {% endfor %}
                </g>
            </svg>
            <div class="strava-icon icon-lg icon-{{ activity | lower }}" title="{{ activity | upper | translate }}"></div>
        </div>
{% endfor %}
    </div>
{% endif %}
